video_upload:
    path:     /upload/
    defaults: { _controller: KonaniVideoBundle:Video:upload }

video_upload_to_youtube:
    path:     /upload_to_youtube/{id}
    defaults: { _controller: KonaniVideoBundle:Video:uploadToYoutube, id: null }

video_uploaded:
    path:     /uploaded/
    defaults: { _controller: KonaniVideoBundle:Video:uploaded }

video_delete_uploaded:
    path:     /delete_uploaded/{id}
    defaults: { _controller: KonaniVideoBundle:Video:deleteUploaded }

video_authenticate_google:
    path:     /authenticate_google/
    defaults: { _controller: KonaniVideoBundle:Video:authenticateGoogle }

video_create_youtube_channel:
    path:     /create_youtube_channel/
    defaults: { _controller: KonaniVideoBundle:Video:createYoutubeChannel}

video_upload_to_youtube_success:
    path:     /upload_to_youtube_/success/
    defaults: { _controller: KonaniVideoBundle:Video:uploadToYoutubeSuccess }