<ul class="videos medium-block-grid-3 large-block-grid-3 small-block-grid-1">
                    {% for video in videos %}
                        <li>
                            <div class="h4">{{ video.id }}</div>
                            <img src="http://img.youtube.com/vi/_lGLdHfCgS4/0.jpg">
                        </li>
                    {% endfor %}
                </ul>