{% if videos is empty %}
    <h4 class="video-not-found">No videos found at this location...</h4>
{% endif %}
<ul class="videos medium-block-grid-3 large-block-grid-3 small-block-grid-1">
                    {% for video in videos %}
                        <li>
                            <div class="h4"><a href="{{ path('video_page',{'id': video.id }) }}">{{ video.title }}</a></div>
                            <img src="{{ video.thumbnail }}">
                        </li>
                    {% endfor %}
                </ul>