<ul class="videos medium-block-grid-3 large-block-grid-3 small-block-grid-1">
                    {% for video in videos %}
                        <li>
                            <div class="h4">{{ video.title }}</div>
                            <img src="{{ video.thumbnail }}">
                        </li>
                    {% endfor %}
                </ul>