<div class="footer">
    <div class="container-fluid">
        <p class="text-muted">Konani video geotaging &copy; 2014</p>
    </div>
    <div class="hr-separator"></div>
    <div class="container icons">
        <a>Facebook</a>
        <a>Google+</a>
        <a>Twitter</a>
    </div>
</div>