imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        less:
        #   bin:  /usr/bin/less
            node: /usr/bin/node
            node_paths: [/usr/lib/node_modules/]
            apply_to: "\.less$"
        cssrewrite: ~
        #cssembed:
        #    jar: %kernel.root_dir%/Resources/java/cssembed-0.4.5.jar
        #yui_js:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.8.jar
        #lessphp:
        #    file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
        #    apply_to: "\.less$"
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
    assets:
        jquery_and_ui_js:
            inputs:
                - '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js'
                - '%kernel.root_dir%/../vendor/components/jqueryui/jquery-ui.min.js'
        #    filters: [?yui_js]
        jqueryui_css:
            inputs:
                - '%kernel.root_dir%/../vendor/components/jqueryui/themes/base/*'
        #    filters: [cssembed]
        bootstrap_js:
            inputs:
                - '%kernel.root_dir%/../vendor/components/bootstrap/js/bootstrap.min.js'
        #    filters: [?yui_js]
        bootstrap_css:
            inputs:
                - '%kernel.root_dir%/../vendor/components/bootstrap/css/bootstrap.min.css'
        #    filters: [cssembed]
        #bootstrap_js:
        #    inputs:
        #        - '%kernel.root_dir%/../vendor/twbs/bootstrap/js/*.js'
        #bootstrap_less:
        #    inputs:
        #        - '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
        #    filters: [less]

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Konani\UserBundle\Entity\User

parameters:
    google.client_id: 280501061710-2j8epiob932fvtd68srqsireedlm2fsa.apps.googleusercontent.com
    google.client_secret: cuGHDBZ3LH6CURbVJs6XP-GE