{% extends '::base.html.twig' %}

{% block header_block %}
    {% include '::header_small.html.twig' %}
{% endblock %}

{% block body %}
    <div class="not_full">
        {% if authUrl is defined %}
            <h2>Authorization Required</h2>
            <p>You need to authorize access before uploading a video.<p>
            <a class="btn btn-success" href="{{ authUrl }}">Authorize google account</a>
        {% else %}
            <h2>You're successfully authenticated</h2>
            {% if channelLinked is defined %}
                <a class="btn btn-success" href="{{ path('video_uploaded') }}">Upload viedo to Youtube</a>
                <a class="btn btn-success" href="{{ path('video_new_tag') }}">Tag video in map</a>
            {% else %}
                <p>You have to create a public channel before uploading and then <a href="{{ path(app.request.attributes.get('_route')) }}">refresh</a> this page.</p>
                <a class="btn btn-success" target="_blank" href="https://www.youtube.com/create_channel?chromeless=1&next=/channel_creation_done">Create a public channel</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

