{% extends '::base.html.twig' %}

{% block body %}
    {% if status is defined %}
        <h3>Video Uploaded</h3>
        <ul>
            <li>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>{{ status.snippet.title }}</strong> ({{ status.id }})<br>
                    <img src="{{ status.snippet.thumbnails.medium.url }}" alt="" title="{{ status.snippet.description }}"/>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

