{% extends '::base.html.twig' %}

{% block body %}
    <div class="container video-grid">
        <ul class="medium-block-grid-2 small-block-grid-1 large-block-grid-3">
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
            <li><iframe width="300" height="230" src="//www.youtube.com/embed/W-QoakKxTjg" frameborder="0" allowfullscreen></iframe></li>
          </ul>
    </div>
{% endblock %}