@import "bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
}

.row {
  margin:0px !important;
}

//overide chrome border for inputs
input:focus {outline:none;}

/* HOME.SCSS
  P.S. can't compile other scss files...
*/

//overides bootstrap

.container-fluid {
  padding: 0 !important;
}

.main-container {
  padding:0px !important;
}
h1 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}



