@import "bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

//overide chrome border for inputs
input:focus {outline:none;}

/* HOME.SCSS
  P.S. can't compile other scss files...
*/

//overides bootstrap

.container-fluid {
  padding: 0 !important;
}

.main-container {
  padding:0px !important;
}



