.form-control {
  width:35rem !important;
  margin:0 auto !important;
}

.form-group {
  text-align:center;
}

#form {
  padding-left:10px !important;
  padding-right:10px !important;
  margin-bottom: 20px;
}

.btn-default {
  margin: 0 auto;
  display: block;
}

label[for=remember_me] {
  padding-left:0px;
}

.checkbox {
  margin-left:-235px;
}

.login-button-div {
  margin-left:-310px !important;
}

.forgot-password-div {
  margin-left:-250px !important;
}