.video-grid {
  text-align:center;

  h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:0 30px 0 30px; 
  }
  @media (max-width: 640px) {
    h2 {
      padding:0 135px 0 135px;
    }
  }
}



